<section>
  <div class="flex justify-between items-center p-5">
    <h1 class="text-3xl text-black pb-3">liste des produits</h1>
    <div class="flex justify-end w-1/3 items-center gap-2">
      <input class="rounded-2xl w-full border-orange-500" #search (keyup)="searche(search.value)"  type="search" placeholder="search" name="search" id="">
      <div><a class="text-orange-600 font-bold cursor-pointer text-1xl p-3 bg-orange-50 rounded-2xl">ajouter</a></div>
    </div>
  </div>

  <table class="w-full text-center border-2 border-collapse">
    <tr class="border-2 p-2">
      <th class="border-2 p-2">Libelle</th>
      <th class="border-2 p-2">Reference</th>
      <th class="border-2 p-2">Prix Achat</th>
      <th class="border-2 p-2">Prix vente</th>
      <th class="border-2 p-2">Prix Minimum</th>
      <th class="border-2 p-2">Quantité</th>
      <th class="border-2 p-2"></th>
    </tr>
    @for (item of response?.results; track $index) {
      <tr class="border-2 p-2">
        <td class="border-2 p-2">{{ item.libelle }}</td>
        <td class="border-2 p-2">{{ item.reference }}</td>
        <td class="border-2 p-2">{{ item.prixAchat }}</td>
        <td class="border-2 p-2">{{ item.prixVente }}</td>
        <td class="border-2 p-2">{{ item.prixVenteMin }}</td>
        <td class="border-2 p-2">{{ item.qte }}</td>
        <td class="border-2 p-2 text-right flex justify-end items-center gap-2">
          <div class="my-2" > <a class="text-orange-400 font-bold cursor-pointer text-1xl p-3 bg-orange-50 rounded-2xl" >update</a></div>
          <div class="my-2"><a class="text-orange-600 font-bold cursor-pointer text-1xl p-3 bg-orange-50 rounded-2xl">delete</a></div>
        </td>
      </tr>
    }
</table>
<app-pagination
  [data]="dataPagination"
  (OnGetNumberPage)="paginate($event)"
></app-pagination>
</section>

